.upload-buttons a {
    width: 40%;
    font-size: 14px;
    padding: 12px 6px;
}

.upload-page .content h1 {
    font-size: 60px;
    line-height: 60px;
    width: 70%;
}

.upload-page .content h4 {
    font-size: 20px;
    margin-top: -34px;
}

#loading-bar {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: gray;
    z-index: -10;
    top: 0;
}

#loaded-bar {
    position: absolute;
    height: 5px;
    background-color: #7c4dff;
    z-index: 10;
    top: 0;
    transition: 0.2s
}

#blacklayer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
}

.track-info {
    position: absolute;
    width: 95vw;
    left: 2.5vw;
    height: 85vh;
    background-color: #303030;
    	box-shadow: 0 0 4px 0 rgba(100, 100, 100, 0.12), 0 4px 4px 0 rgba(100, 100, 100, 0.24);
}

.track-info .content {
    margin-top: 30px;
}

.track-info .content h1 {
    margin-bottom: 30px;
    margin-left: 10px;
}

.info-container {
    width: 100%;
    height: 40vh;
    margin-top: -10px;
    /*background-color: yellow;*/
}

.info-container .left-image {
    /*background-color: pink;*/
    height: 100%;
    width: 35%;
    float: left;
}

.info-container .left-image img {
    width: 90%;
}

.info-container .left-image p {
    font-size: 14px;
    padding-left: 15%;
}

.info-container .right-inputs {
    /*background-color: green;*/
    height: 100%;
    width: 60%;
    float: right;
}

.info-container .right-inputs input {
    width: 90%;
    height: 40px;
}

.info-container .save {
    float: right;
    margin-right: 8px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 8px 16px;
}

.suggestion {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80vw;
    padding: 28px;
    background-color: #222;
    height: 60vh;
    overflow-y: scroll;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}

.suggestion a {
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 16px;
    background-color: #111;
    width: 100%;
    text-align: center;
}

#genre-input {
    transition: 2s
}

#close-button {
    position: fixed;
    background-color: black;
    width: 100vw;
    top: 0px;
    left: 0;
    height: 30px;
    display: block;
    border: none;
    clear: both;
    text-align: center;
    padding-top: 30px;
    	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}

.to-bottom {
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 10px;
    transition: 2s;
}
