body {
 background-color: #303030;
 font-family: "Levenim MT";
 color: white;
}

h1 {
 font-size: 36px;
 font-weight: bold;
 line-height: 1.5;
}

h2 {
 font-size: 18px;
 font-weight: bold;
 line-height: normal;
}

h3 {
 font-size: 14px;
 font-weight: normal;
 line-height: 1.36;
 opacity: 0.7
}

p {
 font-size: 14px;
}

.hidden {
 opacity: 0;
 transition: 0.5s;
 z-index: -100
}

.show {
 opacity: 1;
 transition: 0.5s;
 z-index: 1;
}

@font-face {
    font-family: 'Levenim MT';
    font-weight: normal;
    src: local('Levenim MT'), url('./fonts/ufonts.com_levenim-mt.woff') format('woff');
}

@font-face {
    font-family: 'Levenim MT';
    font-weight: bold;
    src: local('Levenim MT'), url('./fonts/lvnmbd.woff') format('woff');
}

.container {
 margin-top: 60px;
 width: 100%;
 height: calc(100vw - 60px);
}
