body {
    background-color: #303030;
    font-family: "Levenim MT";
    color: white;
}

h1 {
    font-size: 52px;
    font-weight: bold;
    line-height: 1.1;
    margin: -10px 0;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.75;
    opacity: 0.7
}

p {
    font-size: 12px;
    opacity: 0.5;
    font-weight: normal;
    margin: 8px 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.ghost-button {
 border: 1px white solid;
 border-radius: 3px;
 padding: 12px 30px;
}

.left-content {
 width: 75%;
 margin-left: 36px;
 margin-top: 130px;
}

.hidden {
    opacity: 0;
    transition: 0.5s;
    z-index: -100
}

.show {
    opacity: 1;
    transition: 0.5s;
    z-index: 1;
}

@font-face {
    font-family: 'Levenim MT';
    font-weight: normal;
    src: local('Levenim MT'), url('./fonts/ufonts.com_levenim-mt.woff') format('woff');
}

@font-face {
    font-family: 'Levenim MT';
    font-weight: bold;
    src: local('Levenim MT'), url('./fonts/lvnmbd.woff') format('woff');
}

.container {
    margin-top: 60px;
    width: 100%;
}

.noscroll {
    overflow-y: hidden;
}

.fine-print {
 margin-top: 36px;
}
